In [2]:
import mysql.connector

In [6]:
#establish connection to mysql server
mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="aayush"
)
mycursor = mydb.cursor()

In [17]:
#Create database for storing movies
mycursor.execute("CREATE DATABASE movies_db")

In [18]:
#Select/Use the database
mycursor.execute("USE movies_db")

In [45]:
#create tables for storing movie records
mycursor.execute("CREATE TABLE movies(name VARCHAR(50) NOT NULL,actor VARCHAR(50),actress VARCHAR(50),year_of_release INT,director VARCHAR(50),PRIMARY KEY (name))")

In [46]:
sql = "INSERT INTO movies (name, actor, actress, year_of_release, director) VALUES (%s, %s,%s,%s,%s)"
val = [
  ('DDLJ', 'Shah Rukh Khan', 'Kajol Devgan', 1995, 'Aditya Chopra'),
  ('Dil Bechara', 'Sushant Singh Rajput', 'Sanjana Sanghi', 2020, 'Mukesh Chhabra'),
  ('Kabhi Khushi Kabhie Gham', 'Shah Rukh Khan', 'Kajol Devgan', 2001, 'Karan Johar'),
  ('Kabir Singh', 'Shahid Kapoor', 'Kiara Advani', 2019, 'Sandeep Reddy Vanga'),
  ('Raees','Shah Rukh Khan', 'Mahira Khan', 2017, 'Rahul Dholakia')
]
mycursor.executemany(sql, val)
mydb.commit()
print(mycursor.rowcount, "movies were inserted.")

5 movies were inserted.

In [47]:
#Select all rows
mycursor.execute("SELECT * FROM movies;")
print(mycursor.fetchall())

[('DDLJ', 'Shah Rukh Khan', 'Kajol Devgan', 1995, 'Aditya Chopra'), ('Dil Bechara', 'Sushant Singh Rajput', 'Sanjana Sanghi', 2020, 'Mukesh Chhabra'), ('Kabhi Khushi Kabhie Gham', 'Shah Rukh Khan', 'Kajol Devgan', 2001, 'Karan Johar'), ('Kabir Singh', 'Shahid Kapoor', 'Kiara Advani', 2019, 'Sandeep Reddy Vanga'), ('Raees', 'Shah Rukh Khan', 'Mahira Khan', 2017, 'Rahul Dholakia')]

In [48]:
#Select movies of particular actor
actor_name="Shah Rukh Khan"
mycursor.execute(f"SELECT * FROM movies where actor=\"{actor_name}\"")
print(mycursor.fetchall())

[('DDLJ', 'Shah Rukh Khan', 'Kajol Devgan', 1995, 'Aditya Chopra'), ('Kabhi Khushi Kabhie Gham', 'Shah Rukh Khan', 'Kajol Devgan', 2001, 'Karan Johar'), ('Raees', 'Shah Rukh Khan', 'Mahira Khan', 2017, 'Rahul Dholakia')]